<div  @fromLeftAnim>
  <div class="header anim margin-left-20" >
    <h1>Добре дошли в сайта на Пчеларя</h1>
  </div>
</div>
<div @fromRightAnim>
  <section class="right-section">
    <div class="right aside">
        <h2 class="title">
          Последно добавени пчелини
        </h2>
        <div>
            <div *ngFor="let beeGarden of beeGardens" class="aside-theme">
                <a routerLink="/beegardens/{{beeGarden._id}}">
                    <h3>{{beeGarden.name}}</h3>
                    <p>Добавено: {{(beeGarden.createdAt | date:'medium')}}</p>
                </a>
            </div>
        </div>
    </div>
  </section>
</div>
<div @fromLeftAnim>
  <section class="anim margin-left-20 card">
    <p>
        “Пчелите са толкова малки и често не ги забелязваме, но всъщност животът ни,
        такъв какъвто го познаваме, зависи от тях и тяхната работа. Йерархията в кошера,
        трудолюбието на малките създания, сладкият мед в който превръщат нектара на растенията –
        всичко това е вдъхновявало и продължава да вдъхновява хората да се възхищават на пчелите.”
    </p>
    <img src="../../../assets/img/home1.jpg" alt="bee">
  </section>
  <!-- <a routerLink="/beegardens/list">
    <button mat-stroked-button class="anim margin-left-20">
      Разгледай Пчелини
    </button>
  </a> -->
</div>


<!-- <section class="right-section">
  <h1>
    Последно добавени Пчелини
  </h1>
</section> -->
<div  @fromBottom>
  <div class="content up">
      <h1>Пчелите</h1>
      <p>
        Тези малки животни са безценни за хората. Със своята усърдна работа те постигат невероятни неща и са едни от най-важните работещи животни
        по света. Тяхната най-важна задача е да опрашват растенията. Без тази безплатна услуга на пчелите, ние ще трябва да живеем без около една
        трета от нашите храни.
      </p>
  </div>
</div>
<!--
<div class="hero-image" @explainerAnim>
  <div class="anim">
    <div class="header">
      <h1>Добре дошли в сайта на Пчеларя!</h1>
    </div>
    <section >
      <p>
        “Пчелите са толкова малки и често не ги забелязваме, но всъщност животът ни,
        такъв какъвто го познаваме, зависи от тях и тяхната работа. Йерархията в кошера,
        трудолюбието на малките създания, сладкият мед в който превръщат нектара на растенията –
        всичко това е вдъхновявало и продължава да вдъхновява хората да се възхищават на пчелите.”
      </p>
    </section>

  </div>
</div> -->
