.image-card {
  margin: 100px;
  display: flex;
  justify-content: center;
}

.content {
 margin: auto;
 text-align: center;
  h1 {
    font-size: 34px;
    color: white;
  }
}
a {
  font-size: 24px;
  color: rgb(226, 193, 47);
}

