.login-box {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;

  .login-logo img {
    max-height: 230px;
    min-width: 130px;
    min-height: 100px;
    position: relative;
    left: 30%;
  }

  form {
    min-width: 240px;
    -webkit-box-shadow: 0px 4px 25px 11px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 25px 11px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 25px 11px rgba(0,0,0,0.8);
    padding: 40px 60px;
  }

  .options {
    justify-content: space-between;

    .register {
      padding-top: 10px;
      padding-bottom: 30px;
      padding-left: 25%;
      font-style: italic;
      display: inline-block;
      color: white;
      font-size: 16px;

      a {
        font-style: italic;
        font-size: 18px;
        color: rgb(255, 230, 0);
      }
    }
  }

  input {
    caret-color: red;
  }

  .field {
    text-align: center;

    button {
      width: 60%;
      font-size: large;
      background-color: rgb(160, 161, 48);
    }
  }

  mat-form-field {
    display: block;
  }

  .notification.is-danger {
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .login-box {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;

    .login-logo img {
      max-height: 180px;
      min-width: 130px;
      min-height: 100px;
      position: relative;
      left: 33%;
    }

    form {
      padding: 40px 50px;
      margin-left: 15%;
      margin-right: 15%;
    }

    .field {
      text-align: center;

      button {
        width: 70%;
        font-size: large;
        padding-top: 10px;
      }
    }
    mat-form-field {
      display: block;
    }
  }
}

@media (max-width: 860px) {
  .login-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

    .login-logo img {
      max-height: 150px;
      min-width: 100px;
      min-height: 100px;
      position: relative;
      left: 35%;
    }
    .field {
      text-align: center;
      padding: 10px;

      button {
        width: 70%;
        font-size: large;
      }
    }
  }
}

@media (max-width: 650px) {
  .login-box {
    // margin-left: 10%;
    // margin-right: 10%;
    // margin-bottom: 5%;

    .login-logo img {
      max-height: 130px;
      min-width: 100px;
      min-height: 100px;
      position: relative;
      left: 30%;
    }

    form {
      padding: 30px 20px;
      margin-left: 5%;
      margin-right: 5%;
    }
    .field {
      button {
        width: 80%;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 400px) {
  .login-box {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    .login-logo img {
      max-height: 100px;
      min-width: 100px;
      min-height: 100px;
      position: relative;
      left: 35%;
    }

    form {
      padding: 30px 20px;
      margin-left: 5%;
      margin-right: 5%;
    }
    .field {
      button {
        width: 80%;
      }
    }
  }
}
