<div>
  <mat-toolbar>
    <div class="logo-img">
      <img src="../assets/img/login-register-logo.png" alt="" />
    </div>
    <span>
      <a routerLink="/"><span>ОГ</span> Пчела </a>
    </span>
    <span class="spacer"></span>
    <div *ngIf="(loginStatus$ | async) === false as loginStatus">
      <a class="login" routerLink="/login" *ngIf="loginStatus">Вход</a>
    </div>
    <div *ngIf="(loginStatus$ | async) === false as loginStatus">
      <a class="login" routerLink="/register" *ngIf="loginStatus"
        >Регистрация</a
      >
    </div>

    <div *ngIf="(loginStatus$ | async) === false as loginStatus">
      <a class="login" routerLink="/beegardens/list" *ngIf="loginStatus"
        >Пчелини</a
      >
    </div>

    <div class="username" *ngIf="userName$ | async as UserName">
      <div class="user-img">
          <a routerLink="/my-profile">
          <img src="../assets/img/user-icon.png" alt="" />
        </a>
      </div>
        <p >{{ UserName }}</p>
    </div>

    <div *ngIf="(loginStatus$ | async) === true as loginStatus">
      <button
      *ngIf="loginStatus"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu" class="slider-menu">
        <button mat-menu-item (click)="onLogout()">Изход</button>
    </mat-menu>
  </mat-toolbar>
</div>
